main{
    padding:5rem 0;
}

main nav{
    display:none;
    position:fixed;
    inset:0 auto 0 0;
    border-right:1px solid var(--secondary-foreground);
    padding:2rem 1rem;
}

main .area{
    display:flex;
    justify-content:center;
    gap:3rem;
}

main .area .feed-content{
    width:100%;
}

main .area aside{
    display:none;
    width:30rem;
}

main nav .logo{
    width:10rem;
    height:3.3rem;
    background-image:url("../imagens/logo-black.png");
    background-size: cover;
    background-repeat: no-repeat;
    margin:1rem 0 3rem 1rem;
    cursor:pointer;;
}

main nav li a{
    color:var(--primary);
    display:flex;
    align-items: center;
    gap:1.5rem;
    font-size:1.7rem;
    text-decoration: none;
    padding:1rem;
    border-radius:1rem;
    cursor:pointer;
    transition:all ease .5s;
    margin:1rem 0;
}

main nav a span{
    display:none;
}

main nav li a:hover{
    background-color:var(--secondary-foreground)
}

@media(prefers-color-scheme: dark){
    main nav .logo{
        background-image:url("../imagens/logo-white.png");
    }
    
}

@media(width > 900px){
    main{
        padding:2rem 0 0 6rem;
    }

    main nav{
        display:block;
        width:6rem;
    }

    main .area .feed-content{
        max-width:50rem;
    }

    main .area aside{
        display:block;
    }

    main nav .logo{
        display:none;
    }

}

@media(width > 1024px){
    main{
        padding-left:24rem;
    }

    main nav{
        width:24rem;
    }

    main nav a span{
        display:block;
    }
}
